<phpunit bootstrap="bootstrap.php"
		colors="false"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		stopOnFailure="false">

	<!--<selenium>
		<browser name="Internet Explorer" browser="*iexplore" />
		<browser name="Firefox" browser="*firefox" />
	</selenium>-->

	<filter>
		<blacklist>
			<directory suffix=".php">/var/www/yii/</directory>
			<directory suffix=".php">./</directory>
			<directory suffix=".php">/usr/share/php/</directory>
			<directory suffix=".php">../vendors/</directory>
		</blacklist>
	</filter>

</phpunit>